
node_modules
.DS_Store
.env
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.replit.bak
generated-icon.png
scripts_archive
attached_assets
assets/images
*.tar.gz
attached_assets
AhkScriptFinder-main
zipFile.zip
